
html, body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

body {
    background-color: #070505;
    color: #fff;
    font-family: Arial, sans-serif;
    --container-columns: 450px 450px 450px;

 }

@media only screen and (max-width: 1350px) and (min-width: 1000px){
   body {

   --container-columns: 33.3% 33.3% 33.3% ;
   }
}
 @media only screen and (max-width: 1000px){
   body {

   --container-columns: 50% 50% ;
   }
}
 .container {
    display: grid;
    grid-template-columns: var(--container-columns);
    padding: 10px;
    justify-content: center;
 }
.link-card {
    position: relative;
    max-width: 500px;
    min-width: 100px;
    aspect-ratio: 1;
    width:auto;
 }

 .image-grid-container {
   position: absolute;
   width:100%;
   height: 100%;
   

}
.image-grid {
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-rows: 70% 100px;
   justify-content: center;
   align-content: end;

}
.image-container {
   position: relative;
   width:100%;
   height: 100%;

}

.room-lights-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('lightbulb-group.svg') no-repeat center / contain;
   mask: url('lightbulb-group.svg') no-repeat center / contain;
   width: 100%;
   height: 100%;


}
.white-image {
   position: absolute;
   max-width: 250px;
   max-height: 250px;
   filter: invert(100%) sepia(91%) saturate(0%) hue-rotate(281deg) brightness(110%) contrast(110%);
   width: 100%;
   height: 100%;
   justify-content: center;
}

.lights-image {
   max-width: 300px;
   max-height: 300px;
   width: 100%;
   height: 100%;
   -webkit-mask: url('lightbulb-group.svg') no-repeat center / contain;
   mask: url('lightbulb-group.svg') no-repeat center / contain;
    
}
.security-image {
   position: absolute;
   width: 100%;
   height: 100%;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('lock.svg') no-repeat center / contain;
   mask: url('lock.svg') no-repeat center / contain;
  
}
.blinds-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('blinds.svg') no-repeat center / contain;
   mask: url('blinds.svg') no-repeat center / contain;
   height: 100%;
   width: 100%;
}
.watch-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('multimedia.svg') no-repeat center / contain;
   mask: url('multimedia.svg') no-repeat center / contain;
   width: 100%;
   height: 100%;

}
.heat-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('thermometer.svg') no-repeat center / contain;
   mask: url('thermometer.svg') no-repeat center / contain;
   height: 100%;
   width: 100%;
}
.energy-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('lightning-bolt.svg') no-repeat center / contain;
   mask: url('lightning-bolt.svg') no-repeat center / contain;
   width: 100%;
   height: 100%;

}


 .card-back {
   
    background-color: #1c1c1c;
    text-align: center;
    border-radius: 10px;
    margin: 6px;
    border: 1px solid #343434;
    vertical-align: sub;
    aspect-ratio: 1;
 }
 .text {
   position: absolute;
   bottom: 60px;
   width: 100%;
   font-size: 35px;
   color: white;
   text-align: center;
   box-sizing: border-box;
}

.image-grid-container:hover ~ .card-back {background-color: #1e2021;}
.text:hover + .card-back {background-color: #1e2021;}
.card-back:hover {background-color: #1e2021;}
