
html, body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}
body {
    background-color: #070505;
    color: #fff;
    font-family: Arial, sans-serif;
    --container-columns: 450px 450px 450px;

 }
 @media only screen and (max-width: 1350px) and (min-width: 1000px){
   body {

   --container-columns: 33.3% 33.3% 33.3% ;
   }
}
 @media only screen and (max-width: 1000px){
   body {

   --container-columns: 50% 50% ;
   }
}
 .back-button-container {
   position:absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   

 }
 .back-button {
   z-index: 0;
   stroke: black;
   fill: black;
 }

 .back-image {
   max-width: 300px;
   max-height: 300px;
   width: 100%;
   height: 100%;
   -webkit-mask: url('arrow-left-thick.svg') no-repeat center / contain;
   mask: url('arrow-left-thick.svg') no-repeat center / contain;
    
}

 .container {
    display: grid;
    grid-template-columns:  var(--container-columns);
    /*grid-template-columns:  50% 50%;*/
    justify-content: center;
    padding: 10px;
 }
.button-card {
    position: relative;
    max-width: 500px;
    min-width: 100px;
    aspect-ratio: 1;
    width:auto;

 }
.image-grid-container {
   position: absolute;
   width:100%;
   height: 100%;
   

}
.image-grid {
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-rows: 70% 100px;
   justify-content: center;
   align-content: end;

}
.image-container {
   position: relative;
   width:100%;
   height: 100%;

}
.spots-image {
   max-width: 300px;
   max-height: 300px;
   width: 100%;
   height: 100%;
   -webkit-mask: url('lightbulb-group.svg') no-repeat center / contain;
   mask: url('lightbulb-group.svg') no-repeat center / contain;
    
}
.pendant-image {
   position: absolute;
   width: 100%;
   height: 100%;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('ceiling-light.svg') no-repeat center / contain;
   mask: url('ceiling-light.svg') no-repeat center / contain;
  
}
.lamps-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('lamps.svg') no-repeat center / contain;
   mask: url('lamps.svg') no-repeat center / contain;
   height: 100%;
   width: 100%;
}
.led-strip-image {
   position: absolute;
   max-width: 300px;
   max-height: 300px;
   -webkit-mask: url('led-strip-variant.svg') no-repeat center / contain;
   mask: url('led-strip-variant.svg') no-repeat center / contain;
   width: 100%;
   height: 100%;

}

 .card-back {
   
    background-color: #1c1c1c;
    text-align: center;
    border-radius: 10px;
    margin: 6px;
    border: 1px solid #343434;
    vertical-align: sub;
    aspect-ratio: 1;
 }
 .text {
   position: absolute;
   bottom: 60px;
   width: 100%;
   font-size: 35px;
   color: white;
   text-align: center;
   box-sizing: border-box;
}
.card-state {
   position: absolute;
   bottom: 25px;
   width: 100%;
   font-size: 15px;
   color: white;
   text-align: center;
   box-sizing: border-box;
}
.image-grid-container:hover ~ .card-back {background-color: #1e2021;}
.text:hover + .card-back {background-color: #1e2021;}
.card-back:hover {background-color: #1e2021;}
