
html, body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}
body {
    background-color: #070505;
    color: #fff;
    font-family: Arial, sans-serif;
    --button-container-columns: 400px 400px;
    --main-container-columns: 50% 50%;

   }
   @media only screen and (max-width: 1350px){
     body {
  
     --main-container-columns: 100%;
     --button-container-columns: 50% 50%;
     }
  }
.main-container {
   display: flex;

}
.lock-screen-main-container {

   display: absolute;
   width: 100vw;
   height: 100vh;
}

.lock-screen-container {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}
.keypad-main-container {
   display: grid;
   position: relative;
   width: 370px;
   height: 90vh;
   grid-template-rows: 15% 85%;

}
.keypad-screen-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%

}

.keypad-screen {
   background-color: #1c1c1c;
   
   border-radius: 10px;
   margin: 8px;
   margin-bottom: 27px;
   border: 1px solid #343434;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 100%;
}
.keypad-text {
   text-align: center;
   line-height: 100%;
   font-size: 5em;
   height: 100%;
   width: 100%;
   
}
.keypad-container {
   position: relative;
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto auto auto;

}
.keypad-button-card {
   position: relative;
   max-height: 500px;
   min-width: 50px;
}
.keypad-card-back {
   
   background-color: #1c1c1c;
   text-align: center;
   border-radius: 10px;
   margin: 2px;
   border: 1px solid #343434;
   vertical-align: sub;
}




img {
   width: 95%;
   height: 95%;
   border-radius: 10px;
   border: 2px solid rgb(252, 243, 243)
}
 .security-main-container {
    position: absolute;
    display: grid;
    grid-template-columns:  auto auto;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    visibility: hidden;
 }

 .video-container {
   display: flex;
   width: 100%;
   height: auto;
   /*padding: 10px;*/
}

 .button-container {
    display: grid;
    grid-template-columns:  var(--button-container-columns);
    /*grid-template-columns:  50% 50%;*/
    justify-content: center;
    padding: 10px;
 }
.button-card {
    position: relative;
    max-height: 500px;
    min-width: 100px;
    aspect-ratio: 1;
 }
 .image {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-mask: url('lightbulb-group.svg') no-repeat center / contain;
    mask: url('lightbulb-group.svg') no-repeat center / contain;
    top:0;
    right:70px;


}

 .card-back {
   
    background-color: #1c1c1c;
    text-align: center;
    border-radius: 10px;
    margin: 6px;
    border: 1px solid #343434;
    vertical-align: sub;
    aspect-ratio: 1;
 }
 .text {
   position: absolute;
   bottom: 60px;
   width: 100%;
   font-size: 35px;
   color: white;
   text-align: center;
   box-sizing: border-box;
}
.card-state {
   position: absolute;
   bottom: 25px;
   width: 100%;
   font-size: 15px;
   color: white;
   text-align: center;
   box-sizing: border-box;
}
.image:hover ~ .card-back {background-color: #1e2021;}
.text:hover + .card-back {background-color: #1e2021;}
.card-back:hover {background-color: #1e2021;}
