<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Automation</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <script src="/static/FrontendWebsocket.js"></script>
</head>

<body>
    <div class="container">
        <div class="link-card" onclick="location.href = '/kitchen-lights';">
            <div class="room-lights-image"id="kitchen_lights-icon" style="background-color: rgb(95,95,95)"></div>
            <div class="text" >Kitchen</div>
            <div class="card-back" id="kitchen_lights-state" style="color: #1c1c1c"></div>
        </div>

        <div class="link-card" onclick="location.href = '/sitting-room-lights';">
            <div class="room-lights-image"id="sitting_room_lights-icon" style="background-color: rgb(95,95,95)"></div>
            <div class="text" >Sitting Room</div>
            <div class="card-back" id="sitting_room_lights-state" style="color: #1c1c1c" ></div>
        </div>
        <div class="link-card" onclick="location.href = '/bedroom-lights';">
            <div class="room-lights-image"id="bedroom_lights-icon" style="background-color: rgb(95,95,95)"></div>
            <div class="text" >Bedroom</div>
            <div class="card-back" id="bedroom_lights-state" style="color: #1c1c1c"></div>
        </div>
    </div>
    <div id="page" data-page="light_rooms"></div>
    
    
</body>


</html>