<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sitting Room Lights</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light-controls.css')}}">
    <script type="text/javascript">
        var URI = {{ URIdata|tojson }}
    </script>
    <script src="/static/FrontendWebsocket.js"></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
</head>
<body>
    <div class="container">
        <div class="button-card" onclick="toggleLight('sitting-room-spots')">
            <div class="image-grid-container">
                <div class="image-grid">
                    <div class="image-container">
                        <div class="spots-image" id="sitting-room-spots-icon" style="background-color: rgb(95,95,95)"></div>
                    </div>
                    <div style="width:300px"></div>
                </div>
            </div>
            <div class="text" >Spots</div>
            <div class="card-back" ></div>
            <div class="card-state" id="sitting-room-spots-state">Loading</div>
        </div>
        <div class="button-card" onclick="toggleLight('sitting-room-pendant')">
            <div class="image-grid-container">
                <div class="image-grid">
                    <div class="image-container">
                        <div class="pendant-image" id="sitting-room-pendant-icon" style="background-color: rgb(95,95,95)"></div>
                    </div>
                    <div style="width:300px"></div>
                </div>
            </div>
            <div class="text" >Pendant</div>
            <div class="card-back" ></div>
            <div class="card-state" id="sitting-room-pendant-state">Loading</div>
        </div>
        <div class="button-card" onclick="toggleLight('sitting-room-accent')">
            <div class="image-grid-container">
                <div class="image-grid">
                    <div class="image-container">
                        <div class="led-strip-image" id="sitting-room-accent-icon" style="background-color: rgb(95,95,95)"></div>
                    </div>
                    <div style="width:300px"></div>
                </div>
            </div>
            <div class="text" >Accent Lighting</div>
            <div class="card-back" ></div>
            <div class="card-state" id="sitting-room-accent-state">Loading</div>
        </div>
        <div class="button-card" onclick="toggleLight('sitting-room-lamps')">
            <div class="image-grid-container">
                <div class="image-grid">
                    <div class="image-container">
                        <div class="lamps-image" id="sitting-room-lamps-icon" style="background-color: rgb(95,95,95)"></div>
                    </div>
                    <div style="width:300px"></div>
                </div>
            </div>
            <div class="text" >Lamps</div>
            <div class="card-back" ></div>
            <div class="card-state" id="sitting-room-lamps-state">Loading</div>
        </div>
        <div id="page" data-page="sitting_room_lights"></div>
    </div>
    
    
</body>


</html>
