<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Usage Dashboard</title>
    <script src="/static/blinds.js"></script>
    <link rel="stylesheet" href="/static/blinds.css">
    
</head>
<body>
    <div class="MainCenterContainer">
        <div class="MainContainer">
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer" id="sitting-room-svg-container">


                    <div class="BlindContainer">
                        <div class="slider-container" id="sitting-room-slider-container">
                            <input type="range" min="1" max="100" value="30" class="slider" id="sitting-room-blind-command">
                        </div>
                    </div>
                    <div class="BlindContainer">
                        <div class="slider-container">
                            <input type="range" min="1" max="100" value="50" class="ghostslider" id="sitting-room-blind-state" disabled>
                        </div>
                    </div>

                    <svg>
                        
                        <line id="sitting-room-blind-command-line" x1="0" y1="0" x2="0" y2="0" style="stroke:white; stroke-width:6" />
                        <line id="sitting-room-blind-state-line" x1="0" y1="0" x2="0" y2="0" stroke="gray" />
                        <circle id="sitting-room-blind-roller" class="BlindRoller" cx="0" cy="0" r="20px"></circle>
                        <circle id="sitting-room-blind-roller-inner" class="BlindRollerInner" cx="0" cy="0" r="15px"></circle>
                    </svg>

                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer">
                    
                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer">
                    <div class="BlindContainer"></div>
                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
        </div>
    </div>
    <div id="page" data-page="energy"></div>
   
</body>
</html>