<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Usage Dashboard</title>
    <script src="/static/blinds.js"></script>
    <link rel="stylesheet" href="/static/blinds.css">
    
</head>
<body>
    <div class="MainCenterContainer">
        <div class="MainContainer">
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer" id="test">


                    <div class="BlindContainer">
                        <div class="slider-container">
                            <input type="range" min="1" max="100" value="30" class="slider" id="sitting-room-blind-command">
                        </div>
                    </div>
                    <div class="BlindContainer">
                        <div class="slider-container">
                            <input type="range" min="1" max="100" value="50" class="ghostslider" id="sitting-room-blind-state">
                        </div>
                    </div>

                    <svg>
                        
                        <line id="line1" x1="calc(50% + 10px)" y1="25vh" x2="calc(50% + 10px)" y2="80%" style="stroke:white; stroke-width:6" />
                        <line id="line2" x1="10" y1="20" x2="50" y2="20" stroke="black" />
                        <circle class="BlindRoller" cx="calc(50% - 7px)" cy="25vh" r="20px"></circle>
                        <circle class="BlindRollerInner" cx="calc(50% - 7px)" cy="25vh" r="15px"></circle>
                    </svg>

                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer">
                    
                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
            <div class="ThirdContainer">
                <div class="LabelContainer">Sitting Room</div>
                <div class="CenterContainer">
                    <div class="Button">Open</div>
                </div>
                <div class="CenterContainer">
                    <div class="BlindContainer"></div>
                </div>
                <div class="CenterContainer">
                    <div class="Button">Close</div>
                </div>
            </div>
        </div>
    </div>
    <div id="page" data-page="energy"></div>
   
</body>
</html>