<!DOCTYPE html>
<html lang="en">
<head>
    <title>Security</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='security.css')}}">
    <script type="text/javascript">
        var URI = {{ URIdata|tojson }}
    </script>
    <script src="/static/security.js"></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
</head>
<body>
    <div class="main-container">
        <div class="lock-screen-main-container lock">
            <div class="lock-screen-container">
                <div class="keypad-main-container">
                    <div class="keypad-screen-container">
                        <div class="keypad-screen">
                            <div class="keypad-text" id="keypad-text-input">_ _ _ _</div>
                        </div>
                    </div>
                    <div class="keypad-container">
                        <div class="button-card" onclick="KeyPress(1)">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('2')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card"onclick="KeyPress('3')">
                            <div class="card-back" ></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('4')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('5')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('6')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('7')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('8')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('9')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('del')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('0')">
                            <div class="card-back"></div>
                        </div>
                        <div class="button-card" onclick="KeyPress('enter')">
                            <div class="card-back"></div>
                        </div>
                        
                    </div>
                </div>  
            </div>
        </div>
        <div class="security-main-container menu">
            <div class="button-container">
                <div class="button-card" onclick="hideMenu()">
                    <div class="image" id="alarm-system-icon" style="background-color: yellow"></div>
                    <div class="text" >Alarm</div>
                    <div class="card-back" ></div>
                    <div class="card-state" id="alarm-system-state">on</div>
                </div>
            </div>
            <div class="video-container">                   
                <img src="/security/video_feed"/>       
            </div>
        </div> 
        
    </div>
    
    
</body>


</html>
